# 1. Examine the raw data

In [1]:
import pandas as pd

**Read in data set from csv file**

In [2]:
interest = pd.read_csv("Data for Cleaning & Modeling.csv",
                       low_memory=False)
columns = pd.read_csv("columns.csv", header=None, index_col=0)

**Size: 0.4M observations, 32 columns:**

In [3]:
interest.shape

(400000, 32)

**Dataset overview:**

In [4]:
overview = pd.concat([interest.iloc[0, :], columns, interest.count(), interest.dtypes], axis=1)
overview.columns = ["value (from a sample)", "description", "non-nan values", "dtype"]
overview.index.name = "headers"
overview

,value (from a sample),description,non-nan values,dtype
headers,,,,
X1,11.89%,Interest Rate on the loan,338990,object
X2,54734,A unique id for the loan.,399999,float64
X3,80364,A unique id assigned for the borrower.,399999,float64
X4,"$25,000",Loan amount requested,399999,object
X5,"$25,000",Loan amount funded,399999,object
X6,"$19,080",Investor-funded portion of loan,399999,object
X7,36 months,Number of payments (36 or 60),399999,object
X8,B,Loan grade,338730,object
X9,B4,Loan subgrade,338730,object
X10,NaN,Employer or job title (self-filled),376018,object
X11,< 1 year,Number of years employed (0 to 10; 10 = 10 or ...,399999,object
X12,RENT,"Home ownership status: RENT, OWN, MORTGAGE, OT...",338639,object
X13,85000,Annual income of borrower,338972,float64
X14,VERIFIED - income,"Income verified, not verified, or income sourc...",399999,object
X15,Aug-09,Date loan was issued,399999,object
X16,Due to a lack of personal finance education an...,Reason for loan provided by borrower,123561,object
X17,debt_consolidation,"Loan category, as provided by borrower",399999,object
X18,Debt consolidation for on-time payer,"Loan title, as provided by borrower",399982,object
X19,941xx,First 3 numbers of zip code,399999,object
X20,CA,State of borrower,399999,object
X21,19.48,A ratio calculated using the borrowerâ€™s total ...,399999,float64
X22,0,The number of 30+ days past-due incidences of ...,399999,float64
X23,Feb-94,Date the borrower's earliest reported credit l...,399999,object
X24,0,Number of inquiries by creditors during the pa...,399999,float64
X25,NaN,Number of months since the borrower's last del...,181198,float64
X26,NaN,Number of months since the last public record.,51155,float64
X27,10,Number of open credit lines in the borrower's ...,399999,float64
X28,0,Number of derogatory public records,399999,float64
X29,28854,Total credit revolving balance,399999,float64
X30,52.10%,"Revolving line utilization rate, or the amount...",399733,object
X31,42,The total number of credit lines currently in ...,399999,float64
X32,f,The initial listing status of the loan. Possib...,399999,object

## 1.1 Non-numeric features (categorical, ordinal, text)

**Number of payments (36 or 60):**

In [5]:
interest["X7"].value_counts()

 36 months    292369
 60 months    107630
Name: X7, dtype: int64

**Loan grade:**

In [6]:
interest["X8"].value_counts()

B    101668
C     90071
D     55621
A     53707
E     25518
F      9784
G      2361
Name: X8, dtype: int64

**Loan subgrade:**

In [7]:
interest["X9"].value_counts()

B3    24009
B4    22611
B2    19853
C1    19285
C2    19182
B5    18301
C3    18244
C4    17225
B1    16894
C5    16135
A5    15485
D1    13840
A4    13837
D2    12479
D3    10818
D4    10131
A3     9031
D5     8353
A2     7678
A1     7676
E1     6408
E2     6181
E3     4978
E4     4291
E5     3660
F1     2878
F2     2202
F3     2022
F4     1537
F5     1145
G1      790
G2      598
G3      428
G4      300
G5      245
Name: X9, dtype: int64

**Employer or job title (self-filled):**

In [8]:
interest["X10"].unique()

array([nan, 'CNN', 'Web Programmer', ..., 'Program/Project Mgmt', 'Polie',
       'Senior Creative Designer/Ad Sales'], dtype=object)

**Number of years employed (0 to 10; 10 = 10 or more):**

In [9]:
interest["X11"].value_counts()

10+ years    128060
2 years       35427
3 years       31428
< 1 year      30607
5 years       27277
1 year        25321
4 years       24035
6 years       23062
7 years       22837
8 years       19139
n/a           17537
9 years       15269
Name: X11, dtype: int64

**Home ownership status: RENT, OWN, MORTGAGE, OTHER:**

In [10]:
interest["X12"].value_counts()

MORTGAGE    172112
RENT        136778
OWN          29588
OTHER          124
NONE            36
ANY              1
Name: X12, dtype: int64

**Income verified, not verified, or income source was verified:**

In [11]:
interest["X14"].value_counts()

VERIFIED - income           149686
not verified                127220
VERIFIED - income source    123093
Name: X14, dtype: int64

**Date loan was issued:**

In [12]:
interest["X15"].unique()

array(['Aug-09', 'May-08', 'Aug-14', 'Mar-10', 'Nov-09', 'Aug-12',
       'Apr-08', 'Sep-09', 'Feb-10', 'Apr-10', 'Feb-09', 'Dec-08',
       'Aug-10', 'Jun-08', 'Oct-09', 'Mar-08', 'Aug-08', 'May-10',
       'Jul-07', 'Sep-07', 'Jun-07', 'Aug-07', 'Oct-07', 'Nov-07',
       'Dec-07', 'Jan-08', 'Feb-08', 'Nov-08', 'Jul-08', 'May-11',
       'Dec-14', 'Jan-09', 'Jul-10', 'Sep-08', 'Oct-08', 'Oct-13',
       'Jun-09', 'Jun-10', 'Mar-09', 'Feb-11', 'Dec-10', 'Jan-10',
       'Oct-14', 'Nov-10', 'Apr-09', 'May-09', 'Jul-09', 'Jan-13',
       'Nov-14', 'Dec-09', 'Jul-14', 'Jun-11', 'Jul-11', 'Sep-10',
       'Jan-12', 'May-13', 'Jun-12', 'Mar-11', 'Oct-10', 'Nov-11',
       'Jan-14', 'Jan-11', 'Apr-12', 'Feb-12', 'Mar-12', 'Apr-11',
       'Jun-13', 'Sep-11', 'Sep-14', 'Jul-12', 'Oct-11', 'Mar-13',
       'May-12', 'Apr-14', 'Jun-14', 'Aug-13', 'Aug-11', 'Nov-12',
       'Sep-12', 'Dec-12', 'Dec-11', 'Oct-12', 'Mar-14', 'Dec-13',
       'Sep-13', 'Feb-13', 'Feb-14', 'Nov-13', 'Apr-13', 'Jul-13',
       'May-14', nan], dtype=object)

**Reason for loan provided by borrower:**

In [13]:
interest["X16"].unique()

array([ 'Due to a lack of personal finance education and exposure to poor financing skills growing up, I was easy prey for credit predators. I am devoted to becoming debt-free and can assure my lenders that I will pay on-time every time. I have never missed a payment during the last 16 years that I have had credit. ',
       'Just want to pay off the last bit of credit card debt at a better rate.',
       "Trying to pay a friend back for apartment broker's fee incurred from as well as credit card stuff.",
       ...,
       '  Borrower added on 03/18/14 > To pay off all my high interest rate credit cards<br><br> Borrower added on 03/18/14 > Pay off high interest credit card balances<br>',
       '  Borrower added on 03/18/14 > i have two loans i am consolidating.  one for 5197.62 and the other for 8014.28.<br>',
       '  Borrower added on 03/18/14 > Consolidating debt into one account.<br>'], dtype=object)

**Loan category, as provided by borrower:**

In [14]:
interest["X17"].unique()

array(['debt_consolidation', 'credit_card', 'car', 'home_improvement',
       'small_business', 'major_purchase', 'moving', 'other', 'house',
       'vacation', 'educational', 'wedding', 'medical', 'renewable_energy',
       nan], dtype=object)

**Loan title, as provided by borrower:**

In [15]:
interest["X18"].unique()

array(['Debt consolidation for on-time payer', 'Credit Card payoff',
       'mlue', ..., 'debt paid in full ', 'STAPLES',
       'Credit CardConsolidation'], dtype=object)

**First 3 numbers of zip code:**

In [16]:
interest["X19"].value_counts()

945xx    4622
112xx    4391
750xx    4341
606xx    4041
100xx    3834
900xx    3586
300xx    3531
070xx    3524
331xx    3382
770xx    3122
917xx    3041
891xx    2867
104xx    2774
330xx    2753
117xx    2751
921xx    2737
926xx    2625
913xx    2504
852xx    2458
113xx    2336
925xx    2297
021xx    2172
080xx    2139
941xx    2136
334xx    2113
980xx    2025
601xx    1999
928xx    1999
604xx    1999
600xx    1982
         ...
528xx       2
523xx       2
942xx       2
203xx       2
093xx       2
007xx       2
889xx       1
901xx       1
569xx       1
663xx       1
524xx       1
965xx       1
587xx       1
511xx       1
340xx       1
938xx       1
643xx       1
909xx       1
049xx       1
861xx       1
008xx       1
516xx       1
510xx       1
502xx       1
621xx       1
522xx       1
888xx       1
689xx       1
375xx       1
832xx       1
Name: X19, dtype: int64

**State of borrower:**

In [17]:
interest["X20"].value_counts()

CA    62194
NY    34557
TX    31277
FL    26991
IL    15877
NJ    15574
PA    13983
OH    12970
GA    12755
VA    12252
NC    10875
MI     9857
MA     9527
MD     9414
WA     9144
AZ     9134
CO     8417
MN     6907
MO     6434
CT     6175
NV     5594
IN     5449
OR     5171
WI     5000
AL     4993
TN     4970
LA     4770
SC     4731
KY     3756
KS     3640
OK     3546
AR     2971
UT     2959
NM     2190
HI     2124
WV     2064
NH     1923
RI     1758
DC     1267
MT     1188
AK     1108
DE     1072
WY      983
SD      854
MS      828
VT      748
ID        9
NE        8
IA        7
ME        4
Name: X20, dtype: int64

**The initial listing status of the loan. Possible values are â€“ W, F:**

In [18]:
interest["X32"].value_counts()

f    274313
w    125686
Name: X32, dtype: int64

**All other features are convertable tonumeric**